[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
openshift = "*"
# ansible = { git = 'https://github.com/ansible/ansible', ref = 'devel', editable = true }

[requires]
python_version = "2.7"
